.modal-90w {
    min-width: 90% !important;
}

.modal-85w {
    min-width: 85% !important;
}

.modal-80w {
    min-width: 80% !important;
}

.card-form-90w {
    min-width: 90% !important;
}

.card-form-60w {
    min-width: 60% !important;
}

.card-form-40w {
    min-width: 40% !important;
}